* {
    margin: 0 auto;
    padding: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%
}

body {  
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

#Nav {
    flex: 30%;
    background-color: #aaa;
}

#Name {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#Options {
    padding: 20px;
    width: 100%;
}

#Main {
    flex: 70%;
    background-color: aquamarine;
    padding: 20px;
    overflow-y: auto;
}

<<<<<<< HEAD
=======
#Top {
    background-color: gray;
}

#movies img, #movie img {
    width: 100%;
}

@media(min-width: 960px) {

    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }

}
>>>>>>> 98792984ab70b071697a82b6c3ffbe3943635fd0
